body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: black;
    background-color: lightblue;
}

#card-cont {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    width: 500px;
}

#card-cont-list , #card-cont-customCard, #card-cont-btn{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

#card-cont-list {
    flex-basis: 30%;
}

#card-cont-customCard {
    flex-basis: 59%;
}

#card-cont-customCard button {
    display: flex;
    justify-self: center;
    background-color: rgb(2, 238, 238);
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px 20px;
    cursor: pointer;
}

#card-cont-customCard button:hover{
    background-color: aqua
}

#card-cont-btn {
    flex-basis: 100%;
}

#card-cont-btn {
    flex-basis: 100%;
}

#card-cont-btn-btns {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#card-cont-btn-btns button{
    display: flex;
    justify-self: center;
    background-color: rgb(2, 238, 238);
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px 20px;
    cursor: pointer;
}
